# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
venv/
.env*

# Lambda package
lambda.zip

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test outputs
*.coverage

# Node (if any)
node_modules/
